body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a0033;
    background-image: radial-gradient(ellipse at top, #b81e52, #ac5a1c);
    background-blend-mode: difference;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.4);
    box-shadow: 0 8px 25px rgba(0,0,0,.15), inset 0 1px 1px rgba(255,255,255,.6);
    z-index:10;
}

.search-bar {
    background: rgb(163, 199, 163);
    display: flex;
    align-items: center;
    border-radius: 15px;
}

#cityInput {
    border-radius: 15px;
    height: 10px;
    width: 75%;
    text-indent: 0;
    padding: 15px;
    border: none;
    outline: none;
    background: transparent;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}